<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <title>Stream Event Viewer</title>
    </head>
    <body>
        <div class="row">
            <h1 class="text-center">Welcome to Stream Event Viewer</h1>
            <div class="col-md-2 col-md-offset-5">
                <a type="button" class="btn btn-primary btn-lg" href={{ login_url }}>
                    Login with Twitch
                </a>
            </div>
        </div>
    </body>
</html>